body {
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
}
header {
    white-space: nowrap;
    position: fixed;
    top: 0;
    background-color: #6DECB9;
    width: 100%;
    height: 75px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    font-size: 45px;
    color: white;
    z-index: 1002;
}
.center {
    padding: 75px 50px;
    min-height: calc(100% - 150px);
    width: calc(100% - 100px);
    background-color: #F4F4F4;
}
footer {
    white-space: nowrap;
    position: fixed;
    bottom: 0;
    background-color: #3C3C3C;
    width: 100%;
    height: 75px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    color: white;
    z-index: 1002;
}
@media print {
    header, footer {
        display: none;
    }
    .center {
        width: 700px;
    }
}
.uid {
    font-family: monospace;
    color: #484848;
    background: #F4F4F4;
    border-radius: 4px;
    height: min-content;
    width: min-content;
    position: fixed;
    bottom: 25px;
    left: 25px;
    padding: 5px;
}
.credentials {
    font-family: monospace;
    color: white;
    background: #3C3C3C;
    border-radius: 4px;
    height: min-content;
    width: min-content;
    padding: 5px;
}
footer button {
    position: fixed;
    right: 15px;
    bottom: 10px;
}

.popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    justify-content: center;
    align-items: center;
}
.popup_container {
    display: grid;
    grid-template-rows: 60px auto;
    text-align: center;
}
.popup_title {
    background-color: #6DECB9;
    color: white;
    font-size: 40px;
    padding: 10px;
}
.popup_body {
    background-color: #F4F4F4;
    color: black;
    display: grid;
    grid-template-rows: auto 75px;
    padding: 10px;
}
.popup_body > div:nth-child(2) {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
}

button, input[type=submit] {
    padding: 10px;
    background-color: #11999E;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 4px;
}
button:active, input[type=submit]:active {
    background-color: #07565A;
}
button.red {
    background-color: #d7412c;
}
button.red:active {
    background-color: #77271a;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.progressbar_background {
    background-color: white;
    padding: 2px;
    border-radius: 16px;
    width: 196px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 5px 0 0 -100px;
}
.progressbar {
    background-color: #11999E;
    border-radius: 16px;
    height: 16px;
}

.pagecounter {
    padding-top: 10px;
    font-size: 25px;
}

#information_sheet {
    margin-left: 50px;
}
#information_sheet p {
    margin: 10px;
}

.likert_table {
    margin: 5px 0;
}
.likert_table th:not(:nth-child(1)) {
    width: 70px;
}
.likert_question {
    text-align: left;
    padding-right: 50px;
}

.likert_answer {
    padding-right: 10px;
    text-align: center;
}
.question_text {
    text-align: left;
    padding-right: 50px;
}

.question_answer {
    padding-right: 10px;
    width: 0;
}
.question_table {
    margin: 5px 0;
}

.open_question {
    text-align: left;
}
.text_input {
    height: 100px;
    width: 100%;
    margin: 10px 0;
}
textarea {
    resize: none;
    font-family: Arial, sans-serif;
}

input[type=radio], input[type=checkbox] {
    border: 1px solid #000000;
    background-color: white;
    padding: 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

input[type=radio]:checked, input[type=checkbox]:checked {
    background: #000000;
}

input[type=radio]:focus, input[type=checkbox]:focus {
    outline-color: transparent;
}
.statistic_block {
    text-align: center;
    margin-top: 50px;
    padding: 50px;
}
.input_block {
    text-align: center;
}

.error {
    text-align: center;
}
#finished {
    display: none;
    margin-bottom: 50px;
}
#finished > div > button {
    width: max-content;
    margin: auto;
}
#finished > div {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* CSS Loader */
#loader {
    display: none;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 50px;
    height: 50px;
    margin: 20px;
    position: relative;
}
.element {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    animation-iteration-count: infinite;
}
.e1 {
    left: 0;
    top: 0;
}
.e2 {
    right: 0;
    top: 0;
}
.e3 {
    left: 0;
    bottom: 0;
}
.e4 {
    right: 0;
    bottom: 0;
}
.circle .element {animation-duration: 3s;}
.circle .e1{animation-name: move1;}
.circle .e2{animation-name: move2;}
.circle .e3{animation-name: move3;}
.circle .e4{animation-name: move4;}

.circle {
    width: 50px;
    height: 50px;
    margin: 20px;
    position: relative;
}

@keyframes move1 {
    25% {transform: translateX(40px) rotate(360deg);}
    50% {transform: translate(40px, 40px) rotate(0deg);}
    75% {transform: translateY(40px) rotate(360deg);}
    100% {transform: translate(0,0) rotate(0deg);}
}
@keyframes move2 {
    25% {transform: translateY(40px) rotate(360deg);}
    50% {transform: translate(-40px, 40px) rotate(0deg);}
    75% {transform: translateX(-40px) rotate(360deg);}
    100% {transform: translate(0, 0) rotate(0deg);}
}
@keyframes move3 {
    25% {transform: translateY(-40px) rotate(360deg);}
    50% {transform: translate(40px, -40px) rotate(0deg);}
    75% {transform: translateX(40px) rotate(360deg);}
    100% {transform: translate(0,0) rotate(0deg);}
}
@keyframes move4 {
    25% {transform: translateX(-40px) rotate(360deg);}
    50% {transform: translate(-40px, -40px) rotate(0deg);}
    75% {transform: translateY(-40px) rotate(360deg);}
    100% {transform: translate(0,0) rotate(0deg);}
}