<tr>
    <th  class="likert_question">To what extend do you agree with the following statements?</th>
    <th  class="likert_answer">completely<br/>disagree</th>
    <th  class="likert_answer">disagree</th>
    <th  class="likert_answer">neutral</th>
    <th  class="likert_answer">agree</th>
    <th  class="likert_answer">completely<br/>agree</th>
    <th  class="likert_answer">I do not know</th>
</tr>